<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="parcel-pickup"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
    <mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS"/>
    <listAttribute key="org.testng.eclipse.CLASS_TEST_LIST">
        <listEntry value="test.java.testsParcelPickupFrontend.AllSuit"/>
        <listEntry value="templates.Parallelized"/>
        <listEntry value="test.java.testsParcelPickupFrontend.HistoryTest"/>
        <listEntry value="test.java.testsParcelPickupFrontend.CreateOnDemandPackingIndivdullayTest"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.BlockedAccountTest"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.HeaderAndFooterTest"/>
        <listEntry value="testsPupServices.GetPrice"/>
        <listEntry value="test.java.testsParcelPickupFrontend.PaymentScheduledTest"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.ExistingPickupWithinOneHourTest"/>
        <listEntry value="z_testsPackageRedirect.BackFromSubbmit"/>
        <listEntry value="z_testsPackageRedirect.CancelRedirection"/>
        <listEntry value="test.java.PPAPI.ValidateRequest"/>
        <listEntry value="test.java.testsParcelPickupFrontend.PaymentNegativeScenariosTest"/>
        <listEntry value="Temp.Apisso"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.DriversInstructionsTest"/>
        <listEntry value="z_testsPackageRedirect.AddingEmailsToTrapingList"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.AlternateAddressAsMainLocationTest"/>
        <listEntry value="z_testsPackageRedirect.SelectReasonForRedirection"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.SuspendScheduledTest"/>
        <listEntry value="test.java.PPAPI.OnDemandRequestCancelTest"/>
        <listEntry value="test.java.PPAPI.ScheduledPickupPutTest"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.CancelOnDemandRequestTest"/>
        <listEntry value="test.java.PPAPI.PickupPrintersTest"/>
        <listEntry value="test.java.PPAPI.ScheduledRequestCancelTest"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.DateAndTimeTest"/>
        <listEntry value="testsPupServices.TimeZone"/>
        <listEntry value="test.java.PPAPI.BusinessCallendarScheduledTest"/>
        <listEntry value="test.java.PPAPI.GetHistory3or7Status"/>
        <listEntry value="test.java.testsParcelPickupFrontend.HeaderAndFooterTest"/>
        <listEntry value="test.java.testsParcelPickupFrontend.CreateOnDemandPackingPalletsTest"/>
        <listEntry value="test.java.PPAPI.CloseExistingOnDemandTest"/>
        <listEntry value="test.java.testsParcelPickupFrontend.AdminToolNegativeScenariosTest"/>
        <listEntry value="test.java.testsParcelPickupFrontend.AlternateAddressAsMainLocationTest"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.ModifyOnDemandAvailabilityChangedTest"/>
        <listEntry value="test.java.PPAPI.CalendarOnDemandParametarsTest"/>
        <listEntry value="main.java.Components"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.OrderDetailsTest"/>
        <listEntry value="z_testsPackageRedirect.SistemTimeout"/>
        <listEntry value="z_testsPackageRedirect.ErrorHandling"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.PaymentScheduledTest"/>
        <listEntry value="test.java.PPAPI.PickupOnDemandPutTest"/>
        <listEntry value="Temp.omniture_temp"/>
        <listEntry value="test.java.testsParcelPickupFrontend.BlockedAccountTest"/>
        <listEntry value="test.java.PPAPI.PpickupAcdPostTest"/>
        <listEntry value="test.java.PPAPI.BPostalCodeGetTest"/>
        <listEntry value="z_testsPackageRedirect.OrderConfirmationPage"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.PaymentNegativeScenariosTest"/>
        <listEntry value="test.java.testsParcelPickupFrontend.CreateCrmTicket"/>
        <listEntry value="test.java.PPAPI.ScheduledPickupPostTest"/>
        <listEntry value="test.java.testsParcelPickupFrontend.LocationAndAccountsTest"/>
        <listEntry value="test.java.testsParcelPickupFrontend.DateAndTimeTest"/>
        <listEntry value="test.java.testsParcelPickupFrontend.IilpFlagTest"/>
        <listEntry value="test.java.testsParcelPickupFrontend.EditScheduledFromSubmitePageTest"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.AdminToolNegativeScenariosTest"/>
        <listEntry value="test.java.PPAPI.EligibilityCustomerTest"/>
        <listEntry value="test.java.testsParcelPickupFrontend.OrderDetailsTest"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.HistoryTest"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.ScheduledRequestAlternateAddress"/>
        <listEntry value="z_testsPackageRedirect.EnterPinRedirectionEligibilityCheck"/>
        <listEntry value="test.java.testsParcelPickupFrontend.ScheduleDateAndTimeTest"/>
        <listEntry value="z_testsPackageRedirect.TermsAndConditions"/>
        <listEntry value="test.java.testsParcelPickupFrontend.AdminLandingPageAndSearchTest"/>
        <listEntry value="templates.TestClassB"/>
        <listEntry value="test.java.testsParcelPickupFrontend.EditLocationFromSubmitOnDemandTest"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.ContactInfromationTest"/>
        <listEntry value="test.java.testsParcelPickupFrontend.SuspendScheduledTest"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.ProgressBarTest"/>
        <listEntry value="Temp.tttt"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.AddNewAddressTest"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.EditScheduledFromSubmitePageTest"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.ScheduledDeletePickupTimeSlot"/>
        <listEntry value="test.java.testsParcelPickupFrontend.ScheduledRequestAlternateAddress"/>
        <listEntry value="test.java.testsParcelPickupFrontend.SchedueledCreatePickupTest"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.CloneOrderTest"/>
        <listEntry value="testsPupServices.CalendarScheduled"/>
        <listEntry value="test.java.PPAPI.GetPickupAvailabilityTest"/>
        <listEntry value="main.java.RandomString"/>
        <listEntry value="test.java.PPAPI.ScheduledPickupResumeDeleteTest"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.CreateOnDemandPackingPalletsTest"/>
        <listEntry value="testsPupServices.CreateOnDemand"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.ModifyOnDemandOrderTest"/>
        <listEntry value="templates.TestSuiteSimple"/>
        <listEntry value="z_testsPackageRedirect.GetHistory"/>
        <listEntry value="test.java.testsParcelPickupFrontend.ProgressBarTest"/>
        <listEntry value="test.java.testsParcelPickupFrontend.ContactInfromationTest"/>
        <listEntry value="test.java.testsParcelPickupFrontend.ModifyOnDemandAvailabilityChangedTest"/>
        <listEntry value="z_testsPackageRedirect.AddNewAddress"/>
        <listEntry value="test.java.PPAPI.CheckExistingOnDemandRequestsTest"/>
        <listEntry value="test.java.testsParcelPickupFrontend.NewTestNG"/>
        <listEntry value="testsPupServices.putResume"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.ScheduleDateAndTimeTest"/>
        <listEntry value="z_testsPackageRedirect.OrderTotalAndSummary"/>
        <listEntry value="test.java.testsParcelPickupFrontend.ModifyScheduledOrderTest"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.AddressValidatonMessagesTest"/>
        <listEntry value="test.java.PPAPI.AallSuit"/>
        <listEntry value="test.java.PPAPI.ScheduledPickupOnHoldPostTest"/>
        <listEntry value="test.java.PPAPI.PickupOndemandPostTest"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.AdminLandingPageAndSearchTest"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.EditLocationFromSubmitOnDemandTest"/>
        <listEntry value="z_testsPackageRedirect.History"/>
        <listEntry value="Temp.BusinessDaysGet"/>
        <listEntry value="test.java.PPAPI.PickupOndemandGetPriceTest"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.LocationAndAccountsTest"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.IilpFlagTest"/>
        <listEntry value="test.java.testsParcelPickupFrontend.SpinnerOnDemandTest"/>
        <listEntry value="test.java.PPAPI.BusinessCalendarOnDemandTest"/>
        <listEntry value="z_testsPackageRedirect.AlternateAddressFormValidation"/>
        <listEntry value="test.java.testsParcelPickupFrontend.ExistingPickupWithinOneHourTest"/>
        <listEntry value="templates.ParallelSeleniumTest"/>
        <listEntry value="z_testsPackageRedirect.RemoveAditionalPIN"/>
        <listEntry value="main.java.Helper"/>
        <listEntry value="test.java.testsParcelPickupFrontend.DriversInstructionsTest"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.SchedueledCreatePickupTest"/>
        <listEntry value="test.java.testsParcelPickupFrontend.AddressValidatonMessagesTest"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.ModifyScheduledOrderTest"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.SpinnerScheduleTest"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.PaymentOnDemandTest"/>
        <listEntry value="test.java.testsParcelPickupFrontend.ScheduledDeletePickupTimeSlot"/>
        <listEntry value="testsPupServices.EncryptService"/>
        <listEntry value="main.java.JsonStrings"/>
        <listEntry value="Temp.GoogleSearch"/>
        <listEntry value="templates.TestClassA"/>
        <listEntry value="test.java.PPAPI.GetPickupAvailabilityV2Test"/>
        <listEntry value="testsPupServices.CreateScheduled"/>
        <listEntry value="templates.TestClassParallel"/>
        <listEntry value="test.java.testsParcelPickupFrontend.DifferentPaymentMetodsTest"/>
        <listEntry value="test.java.testsParcelPickupFrontend.CloneOrderTest"/>
        <listEntry value="test.java.PPAPI.PickupGETdetailsTest"/>
        <listEntry value="test.java.testsParcelPickupFrontend.ModifyOnDemandOrderTest"/>
        <listEntry value="test.java.PPAPI.TimeZoneTest"/>
        <listEntry value="z_testsPackageRedirect.HeaderAndFooter"/>
        <listEntry value="testsPupServices.PresenceOfRecuringOrder"/>
        <listEntry value="z_testsPackageRedirect.PriceAssociatedToThePackageRedirectio"/>
        <listEntry value="test.java.testsParcelPickupFrontend.CancelOnDemandRequestTest"/>
        <listEntry value="z_testsPackageRedirect.OnlyBestBuyUserCanSeeDW"/>
        <listEntry value="z_testsPackageRedirect.AllTests"/>
        <listEntry value="test.java.PPAPI.AllActiveAndOnHoldPickupGetTest"/>
        <listEntry value="test.java.PPAPI.CreateOnDemandErrorsTest"/>
        <listEntry value="test.java.PPAPI.GetHistoryTest"/>
        <listEntry value="test.java.testsParcelPickupFrontend.AddNewAddressTest"/>
        <listEntry value="z_testsPackageRedirect.DisplayPayOnAccountUnderPaymentMethod"/>
        <listEntry value="testsPupServices.Elegibility"/>
        <listEntry value="test.java.testsParcelPickupFrontend.SpinnerScheduleTest"/>
        <listEntry value="test.java.testsParcelPickupFrontend.PaymentOnDemandTest"/>
        <listEntry value="Temp.P_errorIfOnePinSubmitted"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.CreateOnDemandPackingIndivdullayTest"/>
        <listEntry value="test.java.PPAPI.CloseExistingScheduledTest"/>
        <listEntry value="test.java.testsParcelPickupFrontendNG.copy.SpinnerOnDemandTest"/>
    </listAttribute>
    <booleanAttribute key="org.testng.eclipse.DEBUG" value="false"/>
    <listAttribute key="org.testng.eclipse.GROUP_LIST"/>
    <listAttribute key="org.testng.eclipse.GROUP_LIST_CLASS"/>
    <stringAttribute key="org.testng.eclipse.LOG_LEVEL" value="2"/>
    <listAttribute key="org.testng.eclipse.METHOD_TEST_LIST"/>
    <listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST"/>
    <stringAttribute key="org.testng.eclipse.PRE_DEFINED_LISTENERS" value=""/>
    <stringAttribute key="org.testng.eclipse.PROTOCOL" value="json"/>
    <intAttribute key="org.testng.eclipse.TYPE" value="1"/>
    <booleanAttribute key="org.testng.eclipse.VERBOSE" value="false"/>
</launchConfiguration>
