<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="parcel-pickup"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
    <mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS"/>
    <listAttribute key="org.testng.eclipse.CLASS_TEST_LIST">
        <listEntry value="com.parcelpickupFrontEnd.ScheduleDateAndTimeTest"/>
        <listEntry value="com.parcelpickupFrontEnd.ScheduledRequestAlternateAddress"/>
        <listEntry value="com.parcelpickupFrontEnd.Atrribute4and6Test"/>
        <listEntry value="com.parcelpickupFrontEnd.CreateOnDemandPackingIndividuallyTest"/>
        <listEntry value="com.parcelpickupFrontEnd.AddressValidatonMessagesTest"/>
        <listEntry value="com.parcelpickupFrontEnd.HistoryTest"/>
        <listEntry value="com.parcelpickupFrontEnd.AdminToolRebookAvailabilityChanged"/>
        <listEntry value="com.parcelpickupFrontEnd.SuspendScheduledTest"/>
        <listEntry value="com.parcelpickupFrontEnd.EditLocationFromSubmitOnDemandTest"/>
        <listEntry value="com.parcelpickupFrontEnd.AdminLandingPageAndSearchTest"/>
        <listEntry value="com.parcelpickupFrontEnd.CancelOnDemandRequestTest"/>
        <listEntry value="com.parcelpickupFrontEnd.LocationAndAccountsTest"/>
        <listEntry value="com.parcelpickupFrontEnd.IilpFlagsTest"/>
        <listEntry value="com.parcelpickupFrontEnd.AdminToolRebook"/>
        <listEntry value="com.parcelpickupFrontEnd.AdminToolHistory"/>
        <listEntry value="com.parcelpickupFrontEnd.ContactInfromationTest"/>
        <listEntry value="com.parcelpickupFrontEnd.SpinnerOnDemandTest"/>
        <listEntry value="com.parcelpickupFrontEnd.AddNewAddressTest"/>
        <listEntry value="com.parcelpickupFrontEnd.AdminToolCrateOnDemandRequest"/>
        <listEntry value="com.parcelpickupFrontEnd.EditScheduledFromSubmitePageTest"/>
        <listEntry value="com.parcelpickupFrontEnd.ModifyOnDemandAvailabilityChangedTest"/>
        <listEntry value="com.parcelpickupFrontEnd.ProgressBarTest"/>
        <listEntry value="com.parcelpickupFrontEnd.DateAndTimeTest"/>
        <listEntry value="com.parcelpickupFrontEnd.SchedueledCreatePickupTest"/>
        <listEntry value="com.parcelpickupFrontEnd.PaymentOnDemandTest"/>
        <listEntry value="com.parcelpickupFrontEnd.SpinnerScheduleTest"/>
        <listEntry value="com.parcelpickupFrontEnd.ModifyScheduledOrderTest"/>
        <listEntry value="com.parcelpickupFrontEnd.OrderDetailsTest"/>
        <listEntry value="com.parcelpickupFrontEnd.CloneOrderTest"/>
        <listEntry value="com.parcelpickupFrontEnd.ScheduledDeletePickupTimeSlot"/>
        <listEntry value="com.parcelpickupFrontEnd.ExistingPickupWithinOneHourTest"/>
        <listEntry value="com.parcelpickupFrontEnd.CreateOnDemandPackingPalletsTest"/>
        <listEntry value="com.parcelpickupFrontEnd.HeaderAndFooterTest"/>
        <listEntry value="com.parcelpickupFrontEnd.PaymentNegativeScenariosTest"/>
        <listEntry value="com.parcelpickupFrontEnd.AdminToolCreateScheduledRequest"/>
        <listEntry value="com.parcelpickupFrontEnd.PaymentScheduledTest"/>
        <listEntry value="com.parcelpickupFrontEnd.ModifyOnDemandOrderTest"/>
        <listEntry value="com.parcelpickupFrontEnd.iip"/>
        <listEntry value="com.parcelpickupFrontEnd.BlockedAccountTest"/>
        <listEntry value="com.parcelpickupFrontEnd.DifferentPaymentMetodsTest"/>
        <listEntry value="com.parcelpickupFrontEnd.DriversInstructionsTest"/>
        <listEntry value="com.parcelpickupFrontEnd.AlternateAddressAsMainLocationTest"/>
        <listEntry value="com.parcelpickupFrontEnd.AdminToolNegativeScenariosTest"/>
    </listAttribute>
    <listAttribute key="org.testng.eclipse.METHOD_TEST_LIST"/>
    <listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST"/>
    <mapAttribute key="org.testng.eclipse.PARAMETERS"/>
    <stringAttribute key="org.testng.eclipse.PRE_DEFINED_LISTENERS" value=""/>
    <intAttribute key="org.testng.eclipse.TYPE" value="1"/>
</launchConfiguration>
