<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ParcelPickup">
  <parameter name="browser" value="chrome"/>
  
  
  <test name="ParcelPickup-Test">
    <classes>
      <class name="com.parcelpickupFrontEnd.AddNewAddressTest"/>
      <!-- <class name="com.parcelpickupFrontEnd.AddressValidatonMessagesTest"/> -->
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->